html{
    scroll-behavior: smooth;
}
:root{
    --transition:all 0.5s ease-in-out;
}
body{
    padding: 0;
    margin: 0;
    background: #BD00ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
    color: white;
}
.logo{
    padding: 0;
    border: 0;
    background: #BD00ff;
}
button{
    outline: 0;
    cursor: pointer;
}
nav{
    background-color: #270e2d;

}
.navbar-brand{
    background-color: #270e2d;
    border-radius: 10px;
    height: 10rem;
    width: 8rem;
    border: none;
}
.nav-link, .navbar-brand{
    color: white;
    cursor: pointer;
    transition: ease-in-out;
}
.nav-item{
    width: fit-content;
    border-bottom: 1px dashed #BD00ff;
}
.nav-btn{
    background-color: #1e0b23;
    color: white;
    border-radius: 30px;
    width: 10rem;
    height: 2.5rem;
    border: none;
}
.nav-btn:hover{
    color: rgb(51, 16, 42);
    box-shadow: rgb(202, 86, 173);
}
.nav-btn i{
    
}